<style>
    .daftarFonts {
        display: flex;
        flex-direction: column;
    }
</style>

<div class="kata">
    <h1>Nama font :</h1>
    <div class="daftarFonts"></div>
</div>

<script>
    let font = []
    const daftarFonts = document.querySelector(".daftarFonts");

    tampilkanNama();
    async function tampilkanNama() {
        try {
            const response = await fetch("/api/fonts");
            if(!response.ok){
                throw new Error("not ok");
            }
    
            font = await response.json();
            console.log(font)
    
        } catch(err){
            console.log(err);
        } finally {
            const sup = font.map(ini => {
                return `
                <a href="/font/dari/${ini.replace(".le", "")}">
                <h1>${ini.replace(".le", "")}
                </h1>
                </a>
                `
            }).join(" ");
            daftarFonts.innerHTML = sup;
        }
    }
</script>