<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            width: 100%;
            min-height: 100vh;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .baris {
                display: flex;

                svg {
                    width: 7rem;
                    height: 7rem;
                }
            }
            
        }
    </style>
</head>
<body>
    
    <div class="container">

        <div class="baris">
            <svg width="18rem" id="my-svg" height="18rem" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg">
        
            <path d="M 16 144 V 62 L 64 30
            V 108 L 48 96 V 43 L 32 54 V 133"
            fill="black" />
    
            <path d="M 80 117 V 30     L 112 51 V 30      L 160 62   V 144   L 144 128
            V 54    L 128 43     V 128   H 112 V 54   L 96 43   V 130
            L 48 98 V 96
            " 
            fill="black"/>
    
            </svg>
    
            <svg width="18rem" id="my-svg" height="18rem" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg">
        
            <path d="M 16 144 V 62 L 64 30
            V 117 L 48 128 V 43 L 32 54 V 133"
            fill="black" />
            <path d="M 80 128 V 30 L 128 62 V 144
            L 112 130 V 54 L 96 43 V 117"
            fill="black"/>
            <path d="M 64 96 H 103 V 112 L 80 128 V 112
            L 101 112 V 98 H 64" fill="black"/>
    
            </svg>
    
            <svg width="18rem" id="my-svg" height="18rem" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg">
        
             
    
            <path d="M 16 117 V 30 L 64 62 V 146 L 48 135 V 54 L 32 43 V 128"
            fill="black"/>
    
            <path d="M 80 96 V 14 L 128 46 V 144 L 112 133 V 38 L 96 27 V 98 H 40 V 128 H 48 V 135 L 38 128 V 96 "
            fill="black"/>
    
            <path d="M 80 16 L 64 27   L 80 37    L 80 48 V 50 L 56 34 V 30 L 80 14"
            fill="black"/>
            
    
            
            
            
    
            </svg>
            <svg width="18rem" id="my-svg" height="18rem" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg">
        
                
            <path d="M 16 133 V 30 L 64 62 V 146 L 48 135 V 54 L 32 43 V 144"
            fill="black"/>
    
            <path d="M 80 96 V 14 L 128 46 V 144 L 112 133 V 38 L 96 27 V 98 H 40 V 128 H 48 V 135 L 38 128 V 96 "
            fill="black"/>
    
            <path d="M 80 16 L 64 27   L 80 37    L 80 48 V 50 L 56 34 V 30 L 80 14"
            fill="black"/>
            
            
            
    
            </svg>
    
            <svg width="18rem" id="my-svg" height="18rem" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg">
        
                
    
            <path d="M 48 117 V 30 L 96 62 V 144 L 80 133 V 54 L 64 43 V 128"
            fill="black"/>
    
    
            <path d="M 48 33 L 32 55 V 52 L 48 30" fill="black"/>
            
            
    
            </svg>
            <svg width="18rem" id="my-svg" height="18rem" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg">
        
                
            <path d="M 16 144 V 62 L 64 30
            V 117 L 48 128 V 43 L 32 54 V 133"
            fill="black" />
            <path d="M 80 128 V 30 L 128 62 V 128
            L 112 117 V 54 L 96 43 V 117"
            fill="black"/>
            <path d="M 64 96 H 103 V 112 L 80 128 V 112
            L 101 112 V 98 H 64" fill="black"/>
    
            <path d="M 160 144 V 62 L 112 30 V 52 L 128 62 V 43 L 144 54 V 133"
            fill="black"/>
            
    
        </svg>
            <svg width="18rem" id="my-svg" height="18rem" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg">
        
                
        
            <path d="M 128 181 V 62 L 80 30 V 96 L 96 85 V 43 L 112 54 V 192
            M 80 51 L 48 30 V 96 L 64 85 V 43 L 80 53 "
            fill="#00000080" />
            
            
    
        </svg>
        </div>

        <div class="baris">
            <svg width="18rem" id="my-svg" height="18rem" viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg">
        
                
            <path d="M 16 144 V 62 L 64 30
            V 114 H 48 V 43 L 32 54 V 133"
            fill="black" />

            <path d="M 80 128 V 62 L 128 30 V 117
            L 112 128 V 43 L 96 53 V 128"
            fill="black"/>

            <path d="M 64 112 H 103 V 128 L 80 144 V 128
            H101 V 114 H 64" fill="black"/>
            

            </svg>
        </div>

    </div>

</body>
</html>